<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="container">
        <h1>Products Added Successfully</h1>
        <p>Thank you for adding products to <%= storeId %>.</p>
        <a href="/storedetails/<%= storeId %>">Back to Store</a>
    </div>
</body>
</html>
