<!DOCTYPE html>
<html>
<head>
  <title>Update Successful</title>
</head>
<body>
  <h1>Update Successful</h1>
  <p>Store details have been updated successfully.</p>
  <p>You will be redirected to the store details page shortly...</p>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      setTimeout(function () {
        window.location.href = '/storedetails/<%= storeId %>';
      }, 3000); 
    });
  </script>
</body>
</html>